$form-control-color: hsl(220, 75%, 75%) !default;
$form-field-error: #f00 !default;
$form-input-bg: #fff !default;

form {
  margin: 0;
  padding: 0;

  .guideline {
    color: var(--text-color-secondary);
    font-size: var(--font-size-decreased);
    margin: 0;

    &::before {
      content: '\261E';
      margin-right: var(--spacer-xxs);
    }
  }

  .check-result-error {
    color: $form-field-error;

    &::before {
      content: '\261D';
      margin-right: var(--spacer-xxs);
    }

    &:empty {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    position: relative;
  }

  input {
    font-size: inherit;
  }

  .flags {
    margin: var(--spacer-xs) 0;
  }

  .errors {
    color: $form-field-error;
    padding: var(--spacer-xxs) var(--spacer-xxs) 0 var(--spacer-s);

    li {
      margin: 0 var(--spacer-xs);

      &:first-of-type {
        margin-top: var(--spacer-s);
      }

      &:last-of-type {
        border-bottom: .1rem solid $form-field-error;
        padding-bottom: var(--spacer-xs);
      }
    }
  }
}

.fields {
  margin: 0;
  padding: 0;

  > div {
    margin: 0 0 var(--spacer-xs);
    padding: var(--spacer-xs);

    &:not(:last-of-type) {
      border-bottom: var(--border-secondary);
    }
  }

  dt {
    font: 500 var(--font-size-increased) var(--font-family-main);
  }

  dd {
    margin: 0;
    padding: var(--spacer-xxs) 0;
  }

  .text {
    background: #f7f7f7;
    border-radius: .4rem;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .25);
    padding: var(--spacer-xs);

    p:first-of-type {
      margin-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .meta-text {
    padding-left: var(--spacer-s);

    dfn {
      font-style: normal;
    }

    &:not(:last-of-type) {
      margin-bottom: var(--spacer-xs);
    }
  }

  .preview {
    a {
      box-shadow: var(--block-shadow);
      display: flex;
      max-width: 48rem;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }

    figcaption {
      color: var(--text-color-secondary);
      font-size: var(--font-size-decreased);
      padding: var(--spacer-xs);
    }
  }

  input:not([type=radio]):not([type=checkbox]):not([size]):not([type=number]):not([type=date]),
  textarea {
    width: 100%;
  }
}

.input-select,
.input-text {
  background-color: #{$form-input-bg};
  border: .1rem solid var(--input-border);
  border-radius: var(--spacer-xxs);
  font-size: var(--font-size-normal);
  margin: 0;
  padding: var(--spacer-xxs) var(--spacer-xs);

  &:focus {
    border-color: var(--input-border-focus);
    box-shadow: .1rem .1rem .2rem var(--input-border-focus);
    outline: none;
  }
}

.input-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #{$form-input-bg} image_url('biovision/icons/dropdown.svg') no-repeat center right var(--spacer-xs) / 1.1rem auto;
  padding-right: 3.2rem;
}

.floating-label {
  display: block;
  padding: 1.4rem 0 0 0;
  position: relative;

  span {
    top: 1.2rem;
    font-size: 1rem;
    left: .4rem;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: .25s;
  }

  input:not(:placeholder-shown) + span {
    opacity: 1;
    top: .2rem;
  }
}

.flag-label {
  align-items: flex-start;
  display: flex;

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: .2rem solid $form-control-color;
    border-radius: .2rem;
    display: inline-block;
    height: 1.6rem;
    margin-right: var(--spacer-xxs);
    outline: none;
    width: 1.6rem;

    &:focus {
      box-shadow: .2rem .2rem .2rem var(--input-border-focus);
    }

    &:checked {
      background: radial-gradient(#fff, #fff 25%, $form-control-color 25%, $form-control-color);
    }

    &:disabled {
      filter: grayscale(1);
      opacity: .75;

      + span {
        cursor: default;
        opacity: .5;
      }
    }
  }

  span {
    cursor: pointer;
    flex: 1;
    padding-top: .1rem;
  }
}

.image-medium {
  width: 32rem;

  img {
    width: 100%;
  }
}
