$messages-bg-info: hsl(220, 75%, 50%) !default;
$messages-border-info: hsl(220, 75%, 25%) !default;
$messages-bg-error: hsl(0, 75%, 50%) !default;
$messages-border-error: hsl(0, 75%, 25%) !default;
$messages-bg-warning: hsl(60, 75%, 75%) !default;
$messages-border-warning: hsl(60, 75%, 25%) !default;
$messages-bg-success: hsl(120, 35%, 50%) !default;
$messages-border-success: hsl(120, 75%, 25%) !default;

.message-box {
  background: $messages-bg-info image_url('biovision/icons/messages/info.svg') no-repeat center left var(--spacer-s) / 3.2rem auto;
  border: .1rem solid $messages-border-info;
  border-radius: var(--spacer-xxs);
  box-shadow: var(--block-shadow);
  color: var(--text-color-inverted-primary);
  margin: var(--spacer-s) auto;
  padding: var(--spacer-s) var(--spacer-s) var(--spacer-s) calc(3.2rem + var(--spacer-s) * 2);

  &:empty {
    display: none;
  }

  &.error {
    background-color: $messages-bg-error;
    background-image: image_url('biovision/icons/messages/error.svg');
    border-color: $messages-border-error;
  }

  &.warning {
    background-color: $messages-bg-warning;
    background-image: image_url('biovision/icons/messages/warning.svg');
    border-color: $messages-border-warning;
    color: var(--text-color-primary);
  }

  &.success {
    background-color: $messages-bg-success;
    background-image: image_url('biovision/icons/messages/success.svg');
    border-color: $messages-border-success;
  }
}
