<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <% if component_handler.permit?('components.view') %>
    <%=
      render(
        partial: 'admin/components/list',
        locals: {
          collection: BiovisionComponent.active.list_for_administration
        }
      )
    %>
  <% end %>
</article>
