<%= render partial: 'shared/entity/metadata', locals: { entity: @dynamic_page } %>
<% content_for :breadcrumbs do %>
  <span><%= entity.name %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <%= raw(entity.body) %>
  </div>
</article>
