<% unless entity.nil? %>
  <%= render partial: 'shared/entity/metadata', locals: { entity: entity } %>
  <% content_for :breadcrumbs do %>
    <span><%= entity.name %></span>
  <% end %>

  <article>
    <div class="content-wrapper">
      <%=
        render(
          partial: 'components/content/dynamic_page_content',
          locals: { entity: entity }
        )
      %>
    </div>
  </article>
<% end %>
