<div>
  <dt><%= t(:flags) %></dt>
  <dd>
    <ul class="flags">
      <% f.object.class.toggleable_attributes.each do |flag| %>
        <li>
          <label class="flag-label">
            <%= f.check_box flag %>
            <span><%= f.object.class.human_attribute_name(flag) %></span>
          </label>
        </li>
      <% end %>
    </ul>
  </dd>
</div>
