<% preset = local_assigns[:blank] ? [[t(:not_set), '']] : [] %>
<div>
  <dt><%= f.label(field) %></dt>
  <dd>
    <%=
      f.select(
        field,
        preset + linked_model.list_for_administration.map { |e| [e.text_for_link, e.id ]},
        class: 'input-select',
        required: local_assigns[:required]
      )
    %>
  </dd>
</div>
