<% unless entity.parent.blank? %>
  <div>
    <dt><%= entity.class.human_attribute_name(:parent) %></dt>
    <dd><%= admin_entity_link(entity.parent, handler: local_assigns[:handler]) %></dd>
  </div>
<% end %>
