<%
  view_scope = %i[admin my].include?(local_assigns[:scope].to_sym) ? "#{scope}/" : ''
  url = "/#{view_scope}#{entity.class.table_name}/#{entity.id}/priority"
%>
<div class="priority-changer" data-url="<%= url %>">
  <button data-delta="-1" type="button">&uarr;</button>
  <button data-delta="1" type="button">&darr;</button>
</div>
