//$font-family-main: "Roboto", sans-serif;
//$font-family-heading: $font-family-main;

//$font-size-xxxl: 5.6rem;
//$font-size-xxl: 4.5rem;
//$font-size-xl: 3.2rem;
//$font-size-large: 2.4rem;
//$font-size-increased: 1.8rem;
//$font-size-normal: 1.6rem;
//$font-size-decreased: 1.3rem;
//$font-size-small: 1.1rem;
//$font-size-xs: 1rem;

//$spacer-s: 1.6rem;

//$content-width: 110rem;
//$content-width-min: 32rem;

//$row_background_even: #f0f0f0;
//$row_background_odd: #fafafa;

//$text-color-heading: #000;
//$text-color-primary: rgb(28, 28, 28);
//$text-color-secondary: #777;

//$text-color-inverted-primary: #fff;
//$text-color-inverted-secondary: #ccc;
//$text-color-inverted-heading: #eee;

//$block-shadow: .2rem .2rem .4rem .2rem rgba(0, 0, 0, .125);

//$border-color-primary: rgb(192, 192, 192);
//$border-color-secondary: rgb(230, 230, 230);
//$border-primary: .1rem solid $border-color-primary;
//$border-secondary: .1rem solid $border-color-secondary;

//$background-body: #f4f4f4 linear-gradient(to top, #f4f4f4, #dfdedc) no-repeat center / cover;
//$background-header: #fff;
//$background-main: #fff;
//$background-footer: #fff;

//$link-color: rgb(20, 127, 255);
//$link-color-visited: rgb(20, 77, 250);
//$link-color-active: rgb(255, 77, 20);
//$link-color-hover: rgb(255, 77, 20);

//$input-border: hsl(0, 0%, 75%);
//$input-border-focus: hsl(0, 0%, 50%);
//$input-border-invalid: hsl(0, 75%, 50%);
//$input-border-invalid-focus: hsl(0, 50%, 50%);

//$form-control-color: hsl(220, 75%, 75%);

@import "biovision/default";
