<% placeholder = t("filters.#{scope}.#{key}", default: key.to_s) %>
<div class="text">
  <label class="floating-label">
    <%= f.date_field(key, value: value, class: 'input-text', placeholder: placeholder) %>
    <span><%= placeholder %></span>
  </label>
</div>
