<%= form_with(scope: 'filter', url: url_for, method: :get, class: 'widgets__filters') do |f| %>
  <fieldset>
    <legend><%= t('.heading') %></legend>
    <div class="list">
      <% fields.each do |key, type| %>
        <% if lookup_context.exists?("admin/widgets/filters/_#{type}") %>
          <%=
            render(
              partial: "admin/widgets/filters/#{type}",
              locals: { f: f, key: key, scope: scope, value: filter[key] }
            )
          %>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
      <%= button_tag(t('.apply'), class: 'button button-secondary', name: nil) %>
    </div>
  </fieldset>
<% end %>
