<section class="my__component-cards">
  <% prefix = 'my/components/' %>
  <% BiovisionComponent.list_for_user.each do |component| %>
    <% handler = Biovision::Components::BaseComponent.handler(component, current_user) %>
    <% next unless handler&.permit?('default') %>
    <% if lookup_context.exists?("#{prefix}_#{component.slug}") %>
      <%=
        render(
          partial: "#{prefix}#{component.slug}",
          locals: { user: @entity, handler: handler }
        )
      %>
    <% end %>
  <% end %>
</section>
