<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <nav>
      <%=
        link_to(
          t('my.profiles.show.nav_text'),
          my_profile_path,
          class: 'button button-ghost'
        )
      %>
    </nav>
  </div>
</article>
