.main-header {
  background: var(--layout-bg-header);

  .content-wrapper {
    align-items: center;
    display: flex;
  }

  .logo {
    a {
      align-items: center;
      display: flex;
      height: 5rem;
      width: 5rem;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}

.header-authentication {
  align-items: center;
  display: flex;
  margin: 0 0 0 auto;

  .avatar {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
