<div class="data">
  <div><%= admin_entity_link(entity) %></div>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <ul class="actions">
    <li><%= edit_icon(edit_dynamic_block_path(id: entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>
</div>
