<% if keys.any? %>
  <section class="biovision-component-settings">
    <h2><%= t('.heading') %></h2>

    <%=
      form_with(
          url:    admin_component_settings_path(slug: handler.slug),
          method: :patch,
          local:  true
      ) do
    %>
      <div class="fields">
        <% keys.each do |key| %>
          <%=
            render(
                partial: 'admin/components/settings/setting',
                locals: {
                    slug: handler.slug,
                    key: key,
                    value: settings[key.to_s]
                }
            )
          %>
        <% end %>
      </div>
      <div class="buttons">
        <%= button_tag(t(:update), class: 'button button-save') %>
      </div>
    <% end %>
  </section>
<% end %>
