@import "vars";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font: 400 10px var(--font-family-main);
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-size: var(--font-size-normal);
  margin: 0;
  min-width: var(--content-width-min);
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color .125s;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--link-color-active);
  }
}

figure {
  margin: 0;
}

article {
  position: relative;
}

button,
input,
textarea {
  font-size: inherit;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: none;
  clip: rect(0 0 0 0);
  height: auto;
  left: -10000rem;
  margin: 0;
  opacity: .05;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.proportional-container {
  padding: 0;
  position: relative;

  > * {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &::before {
    content: '\A';
    display: block;
  }

  &.r-1x1::before {
    padding-top: 100%;
  }

  &.r-5x4::before {
    padding-top: 80%;
  }

  &.r-4x3::before {
    padding-top: 75%;
  }

  &.r-3x2::before {
    padding-top: 66.67%;
  }

  &.r-16x9::before {
    padding-top: 56.25%;
  }

  &.r-2x1::before {
    padding-top: 50%;
  }
}
