<% content_for :meta_title, t('.title') %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <div class="message-box error"><%= @message %></div>

    <%=
      render(
        partial: 'components/users/form_tabs',
        locals: {
          current: 'login',
          from: url_for
        }
      )
    %>
  </div>
</article>
